.label {
  --paddingcalc: 1em;
  /* width: calc(100% - 2 * var(--paddingcalc)); */
  padding: 0 var(--paddingcalc);
  background: var(--color-secondary-500);
  color: var(--color-primary-500);
  /* border-radius: 15%; */
  width: fit-content;
  font-weight: bold;
}
