.Navbar {
  display: grid;
  gap:1rem;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 35em) {
  .Navbar {
    grid-template-columns: 1fr;
  }
}

.Navbar.small{
  height: 20px;
}

.Navbar img{
  max-height: 3rem;
}

.Navbar > * {
  margin: 0;
}
